@charset "UTF-8";
.serif {
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", 游明朝, YuMincho, HG明朝E, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.sans_serif {
  font-family: "Noto Sans Japanese",'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif; }

/* ---------------------------------------------text */
.txt_wh {
  color: #fff; }

.txt_bl {
  color: #000; }

.txt_tc {
  color: #f08300; }

.txt_ac {
  color: #66A0FF; }

.txt_333 {
  color: #333; }

.txt_444 {
  color: #444; }

.txt_555 {
  color: #555; }

.txt_666 {
  color: #666; }

.txt_777 {
  color: #777; }

.txt_888 {
  color: #888; }

.txt_999 {
  color: #999; }

.txt_aaa {
  color: #aaa; }

.txt_bbb {
  color: #bbb; }

.txt_ccc {
  color: #ccc; }

.txt_ddd {
  color: #ddd; }

.txt_eee {
  color: #eee; }

.txt_c {
  text-align: center; }

.txt_l {
  text-align: left; }

.txt_r {
  text-align: right; }

.txt_j {
  text-align: justify;
  text-justify: inter-ideograph; }

.txt_grad {
  background: #88b6ff;
  background: -moz-linear-gradient(-45deg, #88b6ff 0%, #1964fa 100%);
  background: -webkit-linear-gradient(-45deg, #88b6ff 0%, #1964fa 100%);
  background: -webkit-linear-gradient(315deg, #88b6ff 0%, #1964fa 100%);
  background: -o-linear-gradient(315deg, #88b6ff 0%, #1964fa 100%);
  background: linear-gradient(135deg, #88b6ff 0%, #1964fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b6ff', endColorstr='#1964fa',GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

@media screen and (max-width: 600px) {
  .txt_wh_sp {
    color: #fff; }
  .txt_bl_sp {
    color: #000; }
  .txt_tc_sp {
    color: #f08300; }
  .txt_ac_sp {
    color: #66A0FF; }
  .txt_333_sp {
    color: #333; }
  .txt_444_sp {
    color: #444; }
  .txt_555_sp {
    color: #555; }
  .txt_666_sp {
    color: #666; }
  .txt_777_sp {
    color: #777; }
  .txt_888_sp {
    color: #888; }
  .txt_999_sp {
    color: #999; }
  .txt_aaa_sp {
    color: #aaa; }
  .txt_bbb_sp {
    color: #bbb; }
  .txt_ccc_sp {
    color: #ccc; }
  .txt_ddd_sp {
    color: #ddd; }
  .txt_eee_sp {
    color: #eee; }
  .txt_c_sp {
    text-align: center; }
  .txt_l_sp {
    text-align: left; }
  .txt_r_sp {
    text-align: right; }
  .txt_j_sp {
    text-align: justify;
    text-justify: inter-ideograph; }
  .txt_grad_sp {
    background: #88b6ff;
    background: -moz-linear-gradient(-45deg, #88b6ff 0%, #1964fa 100%);
    background: -webkit-linear-gradient(-45deg, #88b6ff 0%, #1964fa 100%);
    background: -webkit-linear-gradient(315deg, #88b6ff 0%, #1964fa 100%);
    background: -o-linear-gradient(315deg, #88b6ff 0%, #1964fa 100%);
    background: linear-gradient(135deg, #88b6ff 0%, #1964fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b6ff', endColorstr='#1964fa',GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; } }

/* ---------------------------------------------text */
/* ---------------------------------------------font-weight */
.bold {
  font-weight: bold; }

.lighter {
  font-weight: lighter; }

.fw100 {
  font-weight: 100; }

.fw200 {
  font-weight: 200; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400; }

.fw500 {
  font-weight: 500; }

.fw600 {
  font-weight: 600; }

.fw700 {
  font-weight: 700; }

.fw800 {
  font-weight: 800; }

.fw900 {
  font-weight: 900; }

@media screen and (max-width: 600px) {
  .bold_sp {
    font-weight: bold; }
  .lighter_sp {
    font-weight: lighter; }
  .fw100_sp {
    font-weight: 100; }
  .fw200_sp {
    font-weight: 200; }
  .fw300_sp {
    font-weight: 300; }
  .fw400_sp {
    font-weight: 400; }
  .fw500_sp {
    font-weight: 500; }
  .fw600_sp {
    font-weight: 600; }
  .fw700_sp {
    font-weight: 700; }
  .fw800_sp {
    font-weight: 800; }
  .fw900_sp {
    font-weight: 900; } }

/* ---------------------------------------------font-weight */
/* ---------------------------------------------line-height */
.lh10 {
  line-height: 1.0; }

.lh11 {
  line-height: 1.1; }

.lh12 {
  line-height: 1.2; }

.lh13 {
  line-height: 1.3; }

.lh14 {
  line-height: 1.4; }

.lh15 {
  line-height: 1.5; }

.lh16 {
  line-height: 1.6; }

.lh17 {
  line-height: 1.7; }

.lh18 {
  line-height: 1.8; }

.lh19 {
  line-height: 1.9; }

.lh20 {
  line-height: 2.0; }

.lh21 {
  line-height: 2.1; }

.lh22 {
  line-height: 2.2; }

.lh23 {
  line-height: 2.3; }

.lh24 {
  line-height: 2.4; }

.lh25 {
  line-height: 2.5; }

.lh26 {
  line-height: 2.6; }

@media screen and (max-width: 600px) {
  .lh10sp {
    line-height: 1.0; }
  .lh11sp {
    line-height: 1.1; }
  .lh12sp {
    line-height: 1.2; }
  .lh13sp {
    line-height: 1.3; }
  .lh14sp {
    line-height: 1.4; }
  .lh15sp {
    line-height: 1.5; }
  .lh16sp {
    line-height: 1.6; }
  .lh17sp {
    line-height: 1.7; }
  .lh18sp {
    line-height: 1.8; }
  .lh19sp {
    line-height: 1.9; }
  .lh20sp {
    line-height: 2.0; }
  .lh21sp {
    line-height: 2.1; }
  .lh22sp {
    line-height: 2.2; }
  .lh23sp {
    line-height: 2.3; }
  .lh24sp {
    line-height: 2.4; }
  .lh25sp {
    line-height: 2.5; }
  .lh26sp {
    line-height: 2.6; } }

/* ---------------------------------------------line-height */
/* ---------------------------------------------letter-spacing */
.ls10 {
  letter-spacing: .1em; }

.ls15 {
  letter-spacing: .15em; }

.ls20 {
  letter-spacing: .20em; }

.ls25 {
  letter-spacing: .25em; }

.ls30 {
  letter-spacing: .30em; }

@media screen and (max-width: 600px) {
  .ls10_sp {
    letter-spacing: .1em; }
  .ls15_sp {
    letter-spacing: .15em; }
  .ls20_sp {
    letter-spacing: .20em; }
  .ls25_sp {
    letter-spacing: .25em; }
  .ls30_sp {
    letter-spacing: .30em; } }

/* ---------------------------------------------letter-spacing */
/* ---------------------------------------------font-size */
/* -----------------------------------vw */
.fs8vw {
  font-size: 0.8vw; }

.fs9vw {
  font-size: 0.9vw; }

.fs10vw {
  font-size: 1vw; }

.fs11vw {
  font-size: 1.1vw; }

.fs12vw {
  font-size: 1.2vw; }

.fs13vw {
  font-size: 1.3vw; }

.fs14vw {
  font-size: 1.4vw; }

.fs15vw {
  font-size: 1.5vw; }

.fs16vw {
  font-size: 1.6vw; }

.fs17vw {
  font-size: 1.7vw; }

.fs18vw {
  font-size: 1.8vw; }

.fs19vw {
  font-size: 1.9vw; }

.fs20vw {
  font-size: 2vw; }

.fs21vw {
  font-size: 2.1vw; }

.fs22vw {
  font-size: 2.2vw; }

.fs23vw {
  font-size: 2.3vw; }

.fs24vw {
  font-size: 2.4vw; }

.fs25vw {
  font-size: 2.5vw; }

.fs26vw {
  font-size: 2.6vw; }

.fs27vw {
  font-size: 2.7vw; }

.fs28vw {
  font-size: 2.8vw; }

.fs29vw {
  font-size: 2.9vw; }

.fs30vw {
  font-size: 3vw; }

.fs31vw {
  font-size: 3.1vw; }

.fs32vw {
  font-size: 3.2vw; }

.fs33vw {
  font-size: 3.3vw; }

.fs34vw {
  font-size: 3.4vw; }

.fs35vw {
  font-size: 3.5vw; }

.fs36vw {
  font-size: 3.6vw; }

.fs37vw {
  font-size: 3.7vw; }

.fs38vw {
  font-size: 3.8vw; }

.fs39vw {
  font-size: 3.9vw; }

.fs40vw {
  font-size: 4vw; }

.fs41vw {
  font-size: 4.1vw; }

.fs42vw {
  font-size: 4.2vw; }

.fs43vw {
  font-size: 4.3vw; }

.fs44vw {
  font-size: 4.4vw; }

.fs45vw {
  font-size: 4.5vw; }

.fs46vw {
  font-size: 4.6vw; }

.fs47vw {
  font-size: 4.7vw; }

.fs48vw {
  font-size: 4.8vw; }

.fs49vw {
  font-size: 4.9vw; }

.fs50vw {
  font-size: 5vw; }

.fs51vw {
  font-size: 5.1vw; }

.fs52vw {
  font-size: 5.2vw; }

.fs53vw {
  font-size: 5.3vw; }

.fs54vw {
  font-size: 5.4vw; }

.fs55vw {
  font-size: 5.5vw; }

.fs56vw {
  font-size: 5.6vw; }

.fs57vw {
  font-size: 5.7vw; }

.fs58vw {
  font-size: 5.8vw; }

.fs59vw {
  font-size: 5.9vw; }

.fs60vw {
  font-size: 6vw; }

.fs61vw {
  font-size: 6.1vw; }

.fs62vw {
  font-size: 6.2vw; }

.fs63vw {
  font-size: 6.3vw; }

.fs64vw {
  font-size: 6.4vw; }

.fs65vw {
  font-size: 6.5vw; }

.fs66vw {
  font-size: 6.6vw; }

.fs67vw {
  font-size: 6.7vw; }

.fs68vw {
  font-size: 6.8vw; }

.fs69vw {
  font-size: 6.9vw; }

.fs70vw {
  font-size: 7vw; }

.fs71vw {
  font-size: 7.1vw; }

.fs72vw {
  font-size: 7.2vw; }

.fs73vw {
  font-size: 7.3vw; }

.fs74vw {
  font-size: 7.4vw; }

.fs75vw {
  font-size: 7.5vw; }

.fs76vw {
  font-size: 7.6vw; }

.fs77vw {
  font-size: 7.7vw; }

.fs78vw {
  font-size: 7.8vw; }

.fs79vw {
  font-size: 7.9vw; }

.fs80vw {
  font-size: 8vw; }

.fs81vw {
  font-size: 8.1vw; }

.fs82vw {
  font-size: 8.2vw; }

.fs83vw {
  font-size: 8.3vw; }

.fs84vw {
  font-size: 8.4vw; }

.fs85vw {
  font-size: 8.5vw; }

.fs86vw {
  font-size: 8.6vw; }

.fs87vw {
  font-size: 8.7vw; }

.fs88vw {
  font-size: 8.8vw; }

.fs89vw {
  font-size: 8.9vw; }

.fs90vw {
  font-size: 9vw; }

.fs91vw {
  font-size: 9.1vw; }

.fs92vw {
  font-size: 9.2vw; }

.fs93vw {
  font-size: 9.3vw; }

.fs94vw {
  font-size: 9.4vw; }

.fs95vw {
  font-size: 9.5vw; }

.fs96vw {
  font-size: 9.6vw; }

.fs97vw {
  font-size: 9.7vw; }

.fs98vw {
  font-size: 9.8vw; }

.fs99vw {
  font-size: 9.9vw; }

.fs100vw {
  font-size: 10vw; }

.fs101vw {
  font-size: 10.1vw; }

.fs102vw {
  font-size: 10.2vw; }

.fs103vw {
  font-size: 10.3vw; }

.fs104vw {
  font-size: 10.4vw; }

.fs105vw {
  font-size: 10.5vw; }

.fs106vw {
  font-size: 10.6vw; }

.fs107vw {
  font-size: 10.7vw; }

.fs108vw {
  font-size: 10.8vw; }

.fs109vw {
  font-size: 10.9vw; }

.fs110vw {
  font-size: 11vw; }

.fs111vw {
  font-size: 11.1vw; }

.fs112vw {
  font-size: 11.2vw; }

.fs113vw {
  font-size: 11.3vw; }

.fs114vw {
  font-size: 11.4vw; }

.fs115vw {
  font-size: 11.5vw; }

.fs116vw {
  font-size: 11.6vw; }

.fs117vw {
  font-size: 11.7vw; }

.fs118vw {
  font-size: 11.8vw; }

.fs119vw {
  font-size: 11.9vw; }

.fs120vw {
  font-size: 12vw; }

.fs121vw {
  font-size: 12.1vw; }

.fs122vw {
  font-size: 12.2vw; }

.fs123vw {
  font-size: 12.3vw; }

.fs124vw {
  font-size: 12.4vw; }

.fs125vw {
  font-size: 12.5vw; }

.fs126vw {
  font-size: 12.6vw; }

.fs127vw {
  font-size: 12.7vw; }

.fs128vw {
  font-size: 12.8vw; }

.fs129vw {
  font-size: 12.9vw; }

.fs130vw {
  font-size: 13vw; }

.fs131vw {
  font-size: 13.1vw; }

.fs132vw {
  font-size: 13.2vw; }

.fs133vw {
  font-size: 13.3vw; }

.fs134vw {
  font-size: 13.4vw; }

.fs135vw {
  font-size: 13.5vw; }

.fs136vw {
  font-size: 13.6vw; }

.fs137vw {
  font-size: 13.7vw; }

.fs138vw {
  font-size: 13.8vw; }

.fs139vw {
  font-size: 13.9vw; }

.fs140vw {
  font-size: 14vw; }

.fs141vw {
  font-size: 14.1vw; }

.fs142vw {
  font-size: 14.2vw; }

.fs143vw {
  font-size: 14.3vw; }

.fs144vw {
  font-size: 14.4vw; }

.fs145vw {
  font-size: 14.5vw; }

.fs146vw {
  font-size: 14.6vw; }

.fs147vw {
  font-size: 14.7vw; }

.fs148vw {
  font-size: 14.8vw; }

.fs149vw {
  font-size: 14.9vw; }

.fs150vw {
  font-size: 15vw; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .fs8vwtb {
    font-size: 0.8vw; }
  .fs9vwtb {
    font-size: 0.9vw; }
  .fs10vwtb {
    font-size: 1vw; }
  .fs11vwtb {
    font-size: 1.1vw; }
  .fs12vwtb {
    font-size: 1.2vw; }
  .fs13vwtb {
    font-size: 1.3vw; }
  .fs14vwtb {
    font-size: 1.4vw; }
  .fs15vwtb {
    font-size: 1.5vw; }
  .fs16vwtb {
    font-size: 1.6vw; }
  .fs17vwtb {
    font-size: 1.7vw; }
  .fs18vwtb {
    font-size: 1.8vw; }
  .fs19vwtb {
    font-size: 1.9vw; }
  .fs20vwtb {
    font-size: 2vw; }
  .fs21vwtb {
    font-size: 2.1vw; }
  .fs22vwtb {
    font-size: 2.2vw; }
  .fs23vwtb {
    font-size: 2.3vw; }
  .fs24vwtb {
    font-size: 2.4vw; }
  .fs25vwtb {
    font-size: 2.5vw; }
  .fs26vwtb {
    font-size: 2.6vw; }
  .fs27vwtb {
    font-size: 2.7vw; }
  .fs28vwtb {
    font-size: 2.8vw; }
  .fs29vwtb {
    font-size: 2.9vw; }
  .fs30vwtb {
    font-size: 3vw; }
  .fs31vwtb {
    font-size: 3.1vw; }
  .fs32vwtb {
    font-size: 3.2vw; }
  .fs33vwtb {
    font-size: 3.3vw; }
  .fs34vwtb {
    font-size: 3.4vw; }
  .fs35vwtb {
    font-size: 3.5vw; }
  .fs36vwtb {
    font-size: 3.6vw; }
  .fs37vwtb {
    font-size: 3.7vw; }
  .fs38vwtb {
    font-size: 3.8vw; }
  .fs39vwtb {
    font-size: 3.9vw; }
  .fs40vwtb {
    font-size: 4vw; }
  .fs41vwtb {
    font-size: 4.1vw; }
  .fs42vwtb {
    font-size: 4.2vw; }
  .fs43vwtb {
    font-size: 4.3vw; }
  .fs44vwtb {
    font-size: 4.4vw; }
  .fs45vwtb {
    font-size: 4.5vw; }
  .fs46vwtb {
    font-size: 4.6vw; }
  .fs47vwtb {
    font-size: 4.7vw; }
  .fs48vwtb {
    font-size: 4.8vw; }
  .fs49vwtb {
    font-size: 4.9vw; }
  .fs50vwtb {
    font-size: 5vw; }
  .fs51vwtb {
    font-size: 5.1vw; }
  .fs52vwtb {
    font-size: 5.2vw; }
  .fs53vwtb {
    font-size: 5.3vw; }
  .fs54vwtb {
    font-size: 5.4vw; }
  .fs55vwtb {
    font-size: 5.5vw; }
  .fs56vwtb {
    font-size: 5.6vw; }
  .fs57vwtb {
    font-size: 5.7vw; }
  .fs58vwtb {
    font-size: 5.8vw; }
  .fs59vwtb {
    font-size: 5.9vw; }
  .fs60vwtb {
    font-size: 6vw; }
  .fs61vwtb {
    font-size: 6.1vw; }
  .fs62vwtb {
    font-size: 6.2vw; }
  .fs63vwtb {
    font-size: 6.3vw; }
  .fs64vwtb {
    font-size: 6.4vw; }
  .fs65vwtb {
    font-size: 6.5vw; }
  .fs66vwtb {
    font-size: 6.6vw; }
  .fs67vwtb {
    font-size: 6.7vw; }
  .fs68vwtb {
    font-size: 6.8vw; }
  .fs69vwtb {
    font-size: 6.9vw; }
  .fs70vwtb {
    font-size: 7vw; }
  .fs71vwtb {
    font-size: 7.1vw; }
  .fs72vwtb {
    font-size: 7.2vw; }
  .fs73vwtb {
    font-size: 7.3vw; }
  .fs74vwtb {
    font-size: 7.4vw; }
  .fs75vwtb {
    font-size: 7.5vw; }
  .fs76vwtb {
    font-size: 7.6vw; }
  .fs77vwtb {
    font-size: 7.7vw; }
  .fs78vwtb {
    font-size: 7.8vw; }
  .fs79vwtb {
    font-size: 7.9vw; }
  .fs80vwtb {
    font-size: 8vw; }
  .fs81vwtb {
    font-size: 8.1vw; }
  .fs82vwtb {
    font-size: 8.2vw; }
  .fs83vwtb {
    font-size: 8.3vw; }
  .fs84vwtb {
    font-size: 8.4vw; }
  .fs85vwtb {
    font-size: 8.5vw; }
  .fs86vwtb {
    font-size: 8.6vw; }
  .fs87vwtb {
    font-size: 8.7vw; }
  .fs88vwtb {
    font-size: 8.8vw; }
  .fs89vwtb {
    font-size: 8.9vw; }
  .fs90vwtb {
    font-size: 9vw; }
  .fs91vwtb {
    font-size: 9.1vw; }
  .fs92vwtb {
    font-size: 9.2vw; }
  .fs93vwtb {
    font-size: 9.3vw; }
  .fs94vwtb {
    font-size: 9.4vw; }
  .fs95vwtb {
    font-size: 9.5vw; }
  .fs96vwtb {
    font-size: 9.6vw; }
  .fs97vwtb {
    font-size: 9.7vw; }
  .fs98vwtb {
    font-size: 9.8vw; }
  .fs99vwtb {
    font-size: 9.9vw; }
  .fs100vwtb {
    font-size: 10vw; }
  .fs101vwtb {
    font-size: 10.1vw; }
  .fs102vwtb {
    font-size: 10.2vw; }
  .fs103vwtb {
    font-size: 10.3vw; }
  .fs104vwtb {
    font-size: 10.4vw; }
  .fs105vwtb {
    font-size: 10.5vw; }
  .fs106vwtb {
    font-size: 10.6vw; }
  .fs107vwtb {
    font-size: 10.7vw; }
  .fs108vwtb {
    font-size: 10.8vw; }
  .fs109vwtb {
    font-size: 10.9vw; }
  .fs110vwtb {
    font-size: 11vw; }
  .fs111vwtb {
    font-size: 11.1vw; }
  .fs112vwtb {
    font-size: 11.2vw; }
  .fs113vwtb {
    font-size: 11.3vw; }
  .fs114vwtb {
    font-size: 11.4vw; }
  .fs115vwtb {
    font-size: 11.5vw; }
  .fs116vwtb {
    font-size: 11.6vw; }
  .fs117vwtb {
    font-size: 11.7vw; }
  .fs118vwtb {
    font-size: 11.8vw; }
  .fs119vwtb {
    font-size: 11.9vw; }
  .fs120vwtb {
    font-size: 12vw; }
  .fs121vwtb {
    font-size: 12.1vw; }
  .fs122vwtb {
    font-size: 12.2vw; }
  .fs123vwtb {
    font-size: 12.3vw; }
  .fs124vwtb {
    font-size: 12.4vw; }
  .fs125vwtb {
    font-size: 12.5vw; }
  .fs126vwtb {
    font-size: 12.6vw; }
  .fs127vwtb {
    font-size: 12.7vw; }
  .fs128vwtb {
    font-size: 12.8vw; }
  .fs129vwtb {
    font-size: 12.9vw; }
  .fs130vwtb {
    font-size: 13vw; }
  .fs131vwtb {
    font-size: 13.1vw; }
  .fs132vwtb {
    font-size: 13.2vw; }
  .fs133vwtb {
    font-size: 13.3vw; }
  .fs134vwtb {
    font-size: 13.4vw; }
  .fs135vwtb {
    font-size: 13.5vw; }
  .fs136vwtb {
    font-size: 13.6vw; }
  .fs137vwtb {
    font-size: 13.7vw; }
  .fs138vwtb {
    font-size: 13.8vw; }
  .fs139vwtb {
    font-size: 13.9vw; }
  .fs140vwtb {
    font-size: 14vw; }
  .fs141vwtb {
    font-size: 14.1vw; }
  .fs142vwtb {
    font-size: 14.2vw; }
  .fs143vwtb {
    font-size: 14.3vw; }
  .fs144vwtb {
    font-size: 14.4vw; }
  .fs145vwtb {
    font-size: 14.5vw; }
  .fs146vwtb {
    font-size: 14.6vw; }
  .fs147vwtb {
    font-size: 14.7vw; }
  .fs148vwtb {
    font-size: 14.8vw; }
  .fs149vwtb {
    font-size: 14.9vw; }
  .fs150vwtb {
    font-size: 15vw; } }

@media screen and (max-width: 600px) {
  .fs8vw {
    font-size: 2.4vw; }
  .fs9vw {
    font-size: 2.7vw; }
  .fs10vw {
    font-size: 3vw; }
  .fs11vw {
    font-size: 3.3vw; }
  .fs12vw {
    font-size: 3.6vw; }
  .fs13vw {
    font-size: 3.9vw; }
  .fs14vw {
    font-size: 4.2vw; }
  .fs15vw {
    font-size: 4.5vw; }
  .fs16vw {
    font-size: 4.8vw; }
  .fs17vw {
    font-size: 5.1vw; }
  .fs18vw {
    font-size: 5.4vw; }
  .fs19vw {
    font-size: 5.7vw; }
  .fs20vw {
    font-size: 6vw; }
  .fs21vw {
    font-size: 6.3vw; }
  .fs22vw {
    font-size: 6.6vw; }
  .fs23vw {
    font-size: 6.9vw; }
  .fs24vw {
    font-size: 7.2vw; }
  .fs25vw {
    font-size: 7.5vw; }
  .fs26vw {
    font-size: 7.8vw; }
  .fs27vw {
    font-size: 8.1vw; }
  .fs28vw {
    font-size: 8.4vw; }
  .fs29vw {
    font-size: 8.7vw; }
  .fs30vw {
    font-size: 9vw; }
  .fs31vw {
    font-size: 9.3vw; }
  .fs32vw {
    font-size: 9.6vw; }
  .fs33vw {
    font-size: 9.9vw; }
  .fs34vw {
    font-size: 10.2vw; }
  .fs35vw {
    font-size: 10.5vw; }
  .fs36vw {
    font-size: 10.8vw; }
  .fs37vw {
    font-size: 11.1vw; }
  .fs38vw {
    font-size: 11.4vw; }
  .fs39vw {
    font-size: 11.7vw; }
  .fs40vw {
    font-size: 12vw; }
  .fs41vw {
    font-size: 12.3vw; }
  .fs42vw {
    font-size: 12.6vw; }
  .fs43vw {
    font-size: 12.9vw; }
  .fs44vw {
    font-size: 13.2vw; }
  .fs45vw {
    font-size: 13.5vw; }
  .fs46vw {
    font-size: 13.8vw; }
  .fs47vw {
    font-size: 14.1vw; }
  .fs48vw {
    font-size: 14.4vw; }
  .fs49vw {
    font-size: 14.7vw; }
  .fs50vw {
    font-size: 15vw; }
  .fs51vw {
    font-size: 15.3vw; }
  .fs52vw {
    font-size: 15.6vw; }
  .fs53vw {
    font-size: 15.9vw; }
  .fs54vw {
    font-size: 16.2vw; }
  .fs55vw {
    font-size: 16.5vw; }
  .fs56vw {
    font-size: 16.8vw; }
  .fs57vw {
    font-size: 17.1vw; }
  .fs58vw {
    font-size: 17.4vw; }
  .fs59vw {
    font-size: 17.7vw; }
  .fs60vw {
    font-size: 18vw; }
  .fs61vw {
    font-size: 18.3vw; }
  .fs62vw {
    font-size: 18.6vw; }
  .fs63vw {
    font-size: 18.9vw; }
  .fs64vw {
    font-size: 19.2vw; }
  .fs65vw {
    font-size: 19.5vw; }
  .fs66vw {
    font-size: 19.8vw; }
  .fs67vw {
    font-size: 20.1vw; }
  .fs68vw {
    font-size: 20.4vw; }
  .fs69vw {
    font-size: 20.7vw; }
  .fs70vw {
    font-size: 21vw; }
  .fs71vw {
    font-size: 21.3vw; }
  .fs72vw {
    font-size: 21.6vw; }
  .fs73vw {
    font-size: 21.9vw; }
  .fs74vw {
    font-size: 22.2vw; }
  .fs75vw {
    font-size: 22.5vw; }
  .fs76vw {
    font-size: 22.8vw; }
  .fs77vw {
    font-size: 23.1vw; }
  .fs78vw {
    font-size: 23.4vw; }
  .fs79vw {
    font-size: 23.7vw; }
  .fs80vw {
    font-size: 24vw; }
  .fs81vw {
    font-size: 24.3vw; }
  .fs82vw {
    font-size: 24.6vw; }
  .fs83vw {
    font-size: 24.9vw; }
  .fs84vw {
    font-size: 25.2vw; }
  .fs85vw {
    font-size: 25.5vw; }
  .fs86vw {
    font-size: 25.8vw; }
  .fs87vw {
    font-size: 26.1vw; }
  .fs88vw {
    font-size: 26.4vw; }
  .fs89vw {
    font-size: 26.7vw; }
  .fs90vw {
    font-size: 27vw; }
  .fs91vw {
    font-size: 27.3vw; }
  .fs92vw {
    font-size: 27.6vw; }
  .fs93vw {
    font-size: 27.9vw; }
  .fs94vw {
    font-size: 28.2vw; }
  .fs95vw {
    font-size: 28.5vw; }
  .fs96vw {
    font-size: 28.8vw; }
  .fs97vw {
    font-size: 29.1vw; }
  .fs98vw {
    font-size: 29.4vw; }
  .fs99vw {
    font-size: 29.7vw; }
  .fs100vw {
    font-size: 30vw; }
  .fs101vw {
    font-size: 30.3vw; }
  .fs102vw {
    font-size: 30.6vw; }
  .fs103vw {
    font-size: 30.9vw; }
  .fs104vw {
    font-size: 31.2vw; }
  .fs105vw {
    font-size: 31.5vw; }
  .fs106vw {
    font-size: 31.8vw; }
  .fs107vw {
    font-size: 32.1vw; }
  .fs108vw {
    font-size: 32.4vw; }
  .fs109vw {
    font-size: 32.7vw; }
  .fs110vw {
    font-size: 33vw; }
  .fs111vw {
    font-size: 33.3vw; }
  .fs112vw {
    font-size: 33.6vw; }
  .fs113vw {
    font-size: 33.9vw; }
  .fs114vw {
    font-size: 34.2vw; }
  .fs115vw {
    font-size: 34.5vw; }
  .fs116vw {
    font-size: 34.8vw; }
  .fs117vw {
    font-size: 35.1vw; }
  .fs118vw {
    font-size: 35.4vw; }
  .fs119vw {
    font-size: 35.7vw; }
  .fs120vw {
    font-size: 36vw; }
  .fs121vw {
    font-size: 36.3vw; }
  .fs122vw {
    font-size: 36.6vw; }
  .fs123vw {
    font-size: 36.9vw; }
  .fs124vw {
    font-size: 37.2vw; }
  .fs125vw {
    font-size: 37.5vw; }
  .fs126vw {
    font-size: 37.8vw; }
  .fs127vw {
    font-size: 38.1vw; }
  .fs128vw {
    font-size: 38.4vw; }
  .fs129vw {
    font-size: 38.7vw; }
  .fs130vw {
    font-size: 39vw; }
  .fs131vw {
    font-size: 39.3vw; }
  .fs132vw {
    font-size: 39.6vw; }
  .fs133vw {
    font-size: 39.9vw; }
  .fs134vw {
    font-size: 40.2vw; }
  .fs135vw {
    font-size: 40.5vw; }
  .fs136vw {
    font-size: 40.8vw; }
  .fs137vw {
    font-size: 41.1vw; }
  .fs138vw {
    font-size: 41.4vw; }
  .fs139vw {
    font-size: 41.7vw; }
  .fs140vw {
    font-size: 42vw; }
  .fs141vw {
    font-size: 42.3vw; }
  .fs142vw {
    font-size: 42.6vw; }
  .fs143vw {
    font-size: 42.9vw; }
  .fs144vw {
    font-size: 43.2vw; }
  .fs145vw {
    font-size: 43.5vw; }
  .fs146vw {
    font-size: 43.8vw; }
  .fs147vw {
    font-size: 44.1vw; }
  .fs148vw {
    font-size: 44.4vw; }
  .fs149vw {
    font-size: 44.7vw; }
  .fs150vw {
    font-size: 45vw; }
  .fs8vwsp {
    font-size: 0.8vw; }
  .fs9vwsp {
    font-size: 0.9vw; }
  .fs10vwsp {
    font-size: 1vw; }
  .fs11vwsp {
    font-size: 1.1vw; }
  .fs12vwsp {
    font-size: 1.2vw; }
  .fs13vwsp {
    font-size: 1.3vw; }
  .fs14vwsp {
    font-size: 1.4vw; }
  .fs15vwsp {
    font-size: 1.5vw; }
  .fs16vwsp {
    font-size: 1.6vw; }
  .fs17vwsp {
    font-size: 1.7vw; }
  .fs18vwsp {
    font-size: 1.8vw; }
  .fs19vwsp {
    font-size: 1.9vw; }
  .fs20vwsp {
    font-size: 2vw; }
  .fs21vwsp {
    font-size: 2.1vw; }
  .fs22vwsp {
    font-size: 2.2vw; }
  .fs23vwsp {
    font-size: 2.3vw; }
  .fs24vwsp {
    font-size: 2.4vw; }
  .fs25vwsp {
    font-size: 2.5vw; }
  .fs26vwsp {
    font-size: 2.6vw; }
  .fs27vwsp {
    font-size: 2.7vw; }
  .fs28vwsp {
    font-size: 2.8vw; }
  .fs29vwsp {
    font-size: 2.9vw; }
  .fs30vwsp {
    font-size: 3vw; }
  .fs31vwsp {
    font-size: 3.1vw; }
  .fs32vwsp {
    font-size: 3.2vw; }
  .fs33vwsp {
    font-size: 3.3vw; }
  .fs34vwsp {
    font-size: 3.4vw; }
  .fs35vwsp {
    font-size: 3.5vw; }
  .fs36vwsp {
    font-size: 3.6vw; }
  .fs37vwsp {
    font-size: 3.7vw; }
  .fs38vwsp {
    font-size: 3.8vw; }
  .fs39vwsp {
    font-size: 3.9vw; }
  .fs40vwsp {
    font-size: 4vw; }
  .fs41vwsp {
    font-size: 4.1vw; }
  .fs42vwsp {
    font-size: 4.2vw; }
  .fs43vwsp {
    font-size: 4.3vw; }
  .fs44vwsp {
    font-size: 4.4vw; }
  .fs45vwsp {
    font-size: 4.5vw; }
  .fs46vwsp {
    font-size: 4.6vw; }
  .fs47vwsp {
    font-size: 4.7vw; }
  .fs48vwsp {
    font-size: 4.8vw; }
  .fs49vwsp {
    font-size: 4.9vw; }
  .fs50vwsp {
    font-size: 5vw; }
  .fs51vwsp {
    font-size: 5.1vw; }
  .fs52vwsp {
    font-size: 5.2vw; }
  .fs53vwsp {
    font-size: 5.3vw; }
  .fs54vwsp {
    font-size: 5.4vw; }
  .fs55vwsp {
    font-size: 5.5vw; }
  .fs56vwsp {
    font-size: 5.6vw; }
  .fs57vwsp {
    font-size: 5.7vw; }
  .fs58vwsp {
    font-size: 5.8vw; }
  .fs59vwsp {
    font-size: 5.9vw; }
  .fs60vwsp {
    font-size: 6vw; }
  .fs61vwsp {
    font-size: 6.1vw; }
  .fs62vwsp {
    font-size: 6.2vw; }
  .fs63vwsp {
    font-size: 6.3vw; }
  .fs64vwsp {
    font-size: 6.4vw; }
  .fs65vwsp {
    font-size: 6.5vw; }
  .fs66vwsp {
    font-size: 6.6vw; }
  .fs67vwsp {
    font-size: 6.7vw; }
  .fs68vwsp {
    font-size: 6.8vw; }
  .fs69vwsp {
    font-size: 6.9vw; }
  .fs70vwsp {
    font-size: 7vw; }
  .fs71vwsp {
    font-size: 7.1vw; }
  .fs72vwsp {
    font-size: 7.2vw; }
  .fs73vwsp {
    font-size: 7.3vw; }
  .fs74vwsp {
    font-size: 7.4vw; }
  .fs75vwsp {
    font-size: 7.5vw; }
  .fs76vwsp {
    font-size: 7.6vw; }
  .fs77vwsp {
    font-size: 7.7vw; }
  .fs78vwsp {
    font-size: 7.8vw; }
  .fs79vwsp {
    font-size: 7.9vw; }
  .fs80vwsp {
    font-size: 8vw; }
  .fs81vwsp {
    font-size: 8.1vw; }
  .fs82vwsp {
    font-size: 8.2vw; }
  .fs83vwsp {
    font-size: 8.3vw; }
  .fs84vwsp {
    font-size: 8.4vw; }
  .fs85vwsp {
    font-size: 8.5vw; }
  .fs86vwsp {
    font-size: 8.6vw; }
  .fs87vwsp {
    font-size: 8.7vw; }
  .fs88vwsp {
    font-size: 8.8vw; }
  .fs89vwsp {
    font-size: 8.9vw; }
  .fs90vwsp {
    font-size: 9vw; }
  .fs91vwsp {
    font-size: 9.1vw; }
  .fs92vwsp {
    font-size: 9.2vw; }
  .fs93vwsp {
    font-size: 9.3vw; }
  .fs94vwsp {
    font-size: 9.4vw; }
  .fs95vwsp {
    font-size: 9.5vw; }
  .fs96vwsp {
    font-size: 9.6vw; }
  .fs97vwsp {
    font-size: 9.7vw; }
  .fs98vwsp {
    font-size: 9.8vw; }
  .fs99vwsp {
    font-size: 9.9vw; }
  .fs100vwsp {
    font-size: 10vw; }
  .fs101vwsp {
    font-size: 10.1vw; }
  .fs102vwsp {
    font-size: 10.2vw; }
  .fs103vwsp {
    font-size: 10.3vw; }
  .fs104vwsp {
    font-size: 10.4vw; }
  .fs105vwsp {
    font-size: 10.5vw; }
  .fs106vwsp {
    font-size: 10.6vw; }
  .fs107vwsp {
    font-size: 10.7vw; }
  .fs108vwsp {
    font-size: 10.8vw; }
  .fs109vwsp {
    font-size: 10.9vw; }
  .fs110vwsp {
    font-size: 11vw; }
  .fs111vwsp {
    font-size: 11.1vw; }
  .fs112vwsp {
    font-size: 11.2vw; }
  .fs113vwsp {
    font-size: 11.3vw; }
  .fs114vwsp {
    font-size: 11.4vw; }
  .fs115vwsp {
    font-size: 11.5vw; }
  .fs116vwsp {
    font-size: 11.6vw; }
  .fs117vwsp {
    font-size: 11.7vw; }
  .fs118vwsp {
    font-size: 11.8vw; }
  .fs119vwsp {
    font-size: 11.9vw; }
  .fs120vwsp {
    font-size: 12vw; }
  .fs121vwsp {
    font-size: 12.1vw; }
  .fs122vwsp {
    font-size: 12.2vw; }
  .fs123vwsp {
    font-size: 12.3vw; }
  .fs124vwsp {
    font-size: 12.4vw; }
  .fs125vwsp {
    font-size: 12.5vw; }
  .fs126vwsp {
    font-size: 12.6vw; }
  .fs127vwsp {
    font-size: 12.7vw; }
  .fs128vwsp {
    font-size: 12.8vw; }
  .fs129vwsp {
    font-size: 12.9vw; }
  .fs130vwsp {
    font-size: 13vw; }
  .fs131vwsp {
    font-size: 13.1vw; }
  .fs132vwsp {
    font-size: 13.2vw; }
  .fs133vwsp {
    font-size: 13.3vw; }
  .fs134vwsp {
    font-size: 13.4vw; }
  .fs135vwsp {
    font-size: 13.5vw; }
  .fs136vwsp {
    font-size: 13.6vw; }
  .fs137vwsp {
    font-size: 13.7vw; }
  .fs138vwsp {
    font-size: 13.8vw; }
  .fs139vwsp {
    font-size: 13.9vw; }
  .fs140vwsp {
    font-size: 14vw; }
  .fs141vwsp {
    font-size: 14.1vw; }
  .fs142vwsp {
    font-size: 14.2vw; }
  .fs143vwsp {
    font-size: 14.3vw; }
  .fs144vwsp {
    font-size: 14.4vw; }
  .fs145vwsp {
    font-size: 14.5vw; }
  .fs146vwsp {
    font-size: 14.6vw; }
  .fs147vwsp {
    font-size: 14.7vw; }
  .fs148vwsp {
    font-size: 14.8vw; }
  .fs149vwsp {
    font-size: 14.9vw; }
  .fs150vwsp {
    font-size: 15vw; } }

/* -----------------------------------vw */
/* -----------------------------------rem */
.fs8 {
  font-size: 0.8rem; }

.fs9 {
  font-size: 0.9rem; }

.fs10 {
  font-size: 1rem; }

.fs11 {
  font-size: 1.1rem; }

.fs12 {
  font-size: 1.2rem; }

.fs13 {
  font-size: 1.3rem; }

.fs14 {
  font-size: 1.4rem; }

.fs15 {
  font-size: 1.5rem; }

.fs16 {
  font-size: 1.6rem; }

.fs17 {
  font-size: 1.7rem; }

.fs18 {
  font-size: 1.8rem; }

.fs19 {
  font-size: 1.9rem; }

.fs20 {
  font-size: 2rem; }

.fs21 {
  font-size: 2.1rem; }

.fs22 {
  font-size: 2.2rem; }

.fs23 {
  font-size: 2.3rem; }

.fs24 {
  font-size: 2.4rem; }

.fs25 {
  font-size: 2.5rem; }

.fs26 {
  font-size: 2.6rem; }

.fs27 {
  font-size: 2.7rem; }

.fs28 {
  font-size: 2.8rem; }

.fs29 {
  font-size: 2.9rem; }

.fs30 {
  font-size: 3rem; }

.fs31 {
  font-size: 3.1rem; }

.fs32 {
  font-size: 3.2rem; }

.fs33 {
  font-size: 3.3rem; }

.fs34 {
  font-size: 3.4rem; }

.fs35 {
  font-size: 3.5rem; }

.fs36 {
  font-size: 3.6rem; }

.fs37 {
  font-size: 3.7rem; }

.fs38 {
  font-size: 3.8rem; }

.fs39 {
  font-size: 3.9rem; }

.fs40 {
  font-size: 4rem; }

.fs41 {
  font-size: 4.1rem; }

.fs42 {
  font-size: 4.2rem; }

.fs43 {
  font-size: 4.3rem; }

.fs44 {
  font-size: 4.4rem; }

.fs45 {
  font-size: 4.5rem; }

.fs46 {
  font-size: 4.6rem; }

.fs47 {
  font-size: 4.7rem; }

.fs48 {
  font-size: 4.8rem; }

.fs49 {
  font-size: 4.9rem; }

.fs50 {
  font-size: 5rem; }

.fs51 {
  font-size: 5.1rem; }

.fs52 {
  font-size: 5.2rem; }

.fs53 {
  font-size: 5.3rem; }

.fs54 {
  font-size: 5.4rem; }

.fs55 {
  font-size: 5.5rem; }

.fs56 {
  font-size: 5.6rem; }

.fs57 {
  font-size: 5.7rem; }

.fs58 {
  font-size: 5.8rem; }

.fs59 {
  font-size: 5.9rem; }

.fs60 {
  font-size: 6rem; }

.fs61 {
  font-size: 6.1rem; }

.fs62 {
  font-size: 6.2rem; }

.fs63 {
  font-size: 6.3rem; }

.fs64 {
  font-size: 6.4rem; }

.fs65 {
  font-size: 6.5rem; }

.fs66 {
  font-size: 6.6rem; }

.fs67 {
  font-size: 6.7rem; }

.fs68 {
  font-size: 6.8rem; }

.fs69 {
  font-size: 6.9rem; }

.fs70 {
  font-size: 7rem; }

.fs71 {
  font-size: 7.1rem; }

.fs72 {
  font-size: 7.2rem; }

.fs73 {
  font-size: 7.3rem; }

.fs74 {
  font-size: 7.4rem; }

.fs75 {
  font-size: 7.5rem; }

.fs76 {
  font-size: 7.6rem; }

.fs77 {
  font-size: 7.7rem; }

.fs78 {
  font-size: 7.8rem; }

.fs79 {
  font-size: 7.9rem; }

.fs80 {
  font-size: 8rem; }

.fs81 {
  font-size: 8.1rem; }

.fs82 {
  font-size: 8.2rem; }

.fs83 {
  font-size: 8.3rem; }

.fs84 {
  font-size: 8.4rem; }

.fs85 {
  font-size: 8.5rem; }

.fs86 {
  font-size: 8.6rem; }

.fs87 {
  font-size: 8.7rem; }

.fs88 {
  font-size: 8.8rem; }

.fs89 {
  font-size: 8.9rem; }

.fs90 {
  font-size: 9rem; }

.fs91 {
  font-size: 9.1rem; }

.fs92 {
  font-size: 9.2rem; }

.fs93 {
  font-size: 9.3rem; }

.fs94 {
  font-size: 9.4rem; }

.fs95 {
  font-size: 9.5rem; }

.fs96 {
  font-size: 9.6rem; }

.fs97 {
  font-size: 9.7rem; }

.fs98 {
  font-size: 9.8rem; }

.fs99 {
  font-size: 9.9rem; }

.fs100 {
  font-size: 10rem; }

.fs101 {
  font-size: 10.1rem; }

.fs102 {
  font-size: 10.2rem; }

.fs103 {
  font-size: 10.3rem; }

.fs104 {
  font-size: 10.4rem; }

.fs105 {
  font-size: 10.5rem; }

.fs106 {
  font-size: 10.6rem; }

.fs107 {
  font-size: 10.7rem; }

.fs108 {
  font-size: 10.8rem; }

.fs109 {
  font-size: 10.9rem; }

.fs110 {
  font-size: 11rem; }

.fs111 {
  font-size: 11.1rem; }

.fs112 {
  font-size: 11.2rem; }

.fs113 {
  font-size: 11.3rem; }

.fs114 {
  font-size: 11.4rem; }

.fs115 {
  font-size: 11.5rem; }

.fs116 {
  font-size: 11.6rem; }

.fs117 {
  font-size: 11.7rem; }

.fs118 {
  font-size: 11.8rem; }

.fs119 {
  font-size: 11.9rem; }

.fs120 {
  font-size: 12rem; }

.fs121 {
  font-size: 12.1rem; }

.fs122 {
  font-size: 12.2rem; }

.fs123 {
  font-size: 12.3rem; }

.fs124 {
  font-size: 12.4rem; }

.fs125 {
  font-size: 12.5rem; }

.fs126 {
  font-size: 12.6rem; }

.fs127 {
  font-size: 12.7rem; }

.fs128 {
  font-size: 12.8rem; }

.fs129 {
  font-size: 12.9rem; }

.fs130 {
  font-size: 13rem; }

.fs131 {
  font-size: 13.1rem; }

.fs132 {
  font-size: 13.2rem; }

.fs133 {
  font-size: 13.3rem; }

.fs134 {
  font-size: 13.4rem; }

.fs135 {
  font-size: 13.5rem; }

.fs136 {
  font-size: 13.6rem; }

.fs137 {
  font-size: 13.7rem; }

.fs138 {
  font-size: 13.8rem; }

.fs139 {
  font-size: 13.9rem; }

.fs140 {
  font-size: 14rem; }

.fs141 {
  font-size: 14.1rem; }

.fs142 {
  font-size: 14.2rem; }

.fs143 {
  font-size: 14.3rem; }

.fs144 {
  font-size: 14.4rem; }

.fs145 {
  font-size: 14.5rem; }

.fs146 {
  font-size: 14.6rem; }

.fs147 {
  font-size: 14.7rem; }

.fs148 {
  font-size: 14.8rem; }

.fs149 {
  font-size: 14.9rem; }

.fs150 {
  font-size: 15rem; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .fs8tb {
    font-size: 0.8rem; }
  .fs9tb {
    font-size: 0.9rem; }
  .fs10tb {
    font-size: 1rem; }
  .fs11tb {
    font-size: 1.1rem; }
  .fs12tb {
    font-size: 1.2rem; }
  .fs13tb {
    font-size: 1.3rem; }
  .fs14tb {
    font-size: 1.4rem; }
  .fs15tb {
    font-size: 1.5rem; }
  .fs16tb {
    font-size: 1.6rem; }
  .fs17tb {
    font-size: 1.7rem; }
  .fs18tb {
    font-size: 1.8rem; }
  .fs19tb {
    font-size: 1.9rem; }
  .fs20tb {
    font-size: 2rem; }
  .fs21tb {
    font-size: 2.1rem; }
  .fs22tb {
    font-size: 2.2rem; }
  .fs23tb {
    font-size: 2.3rem; }
  .fs24tb {
    font-size: 2.4rem; }
  .fs25tb {
    font-size: 2.5rem; }
  .fs26tb {
    font-size: 2.6rem; }
  .fs27tb {
    font-size: 2.7rem; }
  .fs28tb {
    font-size: 2.8rem; }
  .fs29tb {
    font-size: 2.9rem; }
  .fs30tb {
    font-size: 3rem; }
  .fs31tb {
    font-size: 3.1rem; }
  .fs32tb {
    font-size: 3.2rem; }
  .fs33tb {
    font-size: 3.3rem; }
  .fs34tb {
    font-size: 3.4rem; }
  .fs35tb {
    font-size: 3.5rem; }
  .fs36tb {
    font-size: 3.6rem; }
  .fs37tb {
    font-size: 3.7rem; }
  .fs38tb {
    font-size: 3.8rem; }
  .fs39tb {
    font-size: 3.9rem; }
  .fs40tb {
    font-size: 4rem; }
  .fs41tb {
    font-size: 4.1rem; }
  .fs42tb {
    font-size: 4.2rem; }
  .fs43tb {
    font-size: 4.3rem; }
  .fs44tb {
    font-size: 4.4rem; }
  .fs45tb {
    font-size: 4.5rem; }
  .fs46tb {
    font-size: 4.6rem; }
  .fs47tb {
    font-size: 4.7rem; }
  .fs48tb {
    font-size: 4.8rem; }
  .fs49tb {
    font-size: 4.9rem; }
  .fs50tb {
    font-size: 5rem; }
  .fs51tb {
    font-size: 5.1rem; }
  .fs52tb {
    font-size: 5.2rem; }
  .fs53tb {
    font-size: 5.3rem; }
  .fs54tb {
    font-size: 5.4rem; }
  .fs55tb {
    font-size: 5.5rem; }
  .fs56tb {
    font-size: 5.6rem; }
  .fs57tb {
    font-size: 5.7rem; }
  .fs58tb {
    font-size: 5.8rem; }
  .fs59tb {
    font-size: 5.9rem; }
  .fs60tb {
    font-size: 6rem; }
  .fs61tb {
    font-size: 6.1rem; }
  .fs62tb {
    font-size: 6.2rem; }
  .fs63tb {
    font-size: 6.3rem; }
  .fs64tb {
    font-size: 6.4rem; }
  .fs65tb {
    font-size: 6.5rem; }
  .fs66tb {
    font-size: 6.6rem; }
  .fs67tb {
    font-size: 6.7rem; }
  .fs68tb {
    font-size: 6.8rem; }
  .fs69tb {
    font-size: 6.9rem; }
  .fs70tb {
    font-size: 7rem; }
  .fs71tb {
    font-size: 7.1rem; }
  .fs72tb {
    font-size: 7.2rem; }
  .fs73tb {
    font-size: 7.3rem; }
  .fs74tb {
    font-size: 7.4rem; }
  .fs75tb {
    font-size: 7.5rem; }
  .fs76tb {
    font-size: 7.6rem; }
  .fs77tb {
    font-size: 7.7rem; }
  .fs78tb {
    font-size: 7.8rem; }
  .fs79tb {
    font-size: 7.9rem; }
  .fs80tb {
    font-size: 8rem; }
  .fs81tb {
    font-size: 8.1rem; }
  .fs82tb {
    font-size: 8.2rem; }
  .fs83tb {
    font-size: 8.3rem; }
  .fs84tb {
    font-size: 8.4rem; }
  .fs85tb {
    font-size: 8.5rem; }
  .fs86tb {
    font-size: 8.6rem; }
  .fs87tb {
    font-size: 8.7rem; }
  .fs88tb {
    font-size: 8.8rem; }
  .fs89tb {
    font-size: 8.9rem; }
  .fs90tb {
    font-size: 9rem; }
  .fs91tb {
    font-size: 9.1rem; }
  .fs92tb {
    font-size: 9.2rem; }
  .fs93tb {
    font-size: 9.3rem; }
  .fs94tb {
    font-size: 9.4rem; }
  .fs95tb {
    font-size: 9.5rem; }
  .fs96tb {
    font-size: 9.6rem; }
  .fs97tb {
    font-size: 9.7rem; }
  .fs98tb {
    font-size: 9.8rem; }
  .fs99tb {
    font-size: 9.9rem; }
  .fs100tb {
    font-size: 10rem; }
  .fs101tb {
    font-size: 10.1rem; }
  .fs102tb {
    font-size: 10.2rem; }
  .fs103tb {
    font-size: 10.3rem; }
  .fs104tb {
    font-size: 10.4rem; }
  .fs105tb {
    font-size: 10.5rem; }
  .fs106tb {
    font-size: 10.6rem; }
  .fs107tb {
    font-size: 10.7rem; }
  .fs108tb {
    font-size: 10.8rem; }
  .fs109tb {
    font-size: 10.9rem; }
  .fs110tb {
    font-size: 11rem; }
  .fs111tb {
    font-size: 11.1rem; }
  .fs112tb {
    font-size: 11.2rem; }
  .fs113tb {
    font-size: 11.3rem; }
  .fs114tb {
    font-size: 11.4rem; }
  .fs115tb {
    font-size: 11.5rem; }
  .fs116tb {
    font-size: 11.6rem; }
  .fs117tb {
    font-size: 11.7rem; }
  .fs118tb {
    font-size: 11.8rem; }
  .fs119tb {
    font-size: 11.9rem; }
  .fs120tb {
    font-size: 12rem; }
  .fs121tb {
    font-size: 12.1rem; }
  .fs122tb {
    font-size: 12.2rem; }
  .fs123tb {
    font-size: 12.3rem; }
  .fs124tb {
    font-size: 12.4rem; }
  .fs125tb {
    font-size: 12.5rem; }
  .fs126tb {
    font-size: 12.6rem; }
  .fs127tb {
    font-size: 12.7rem; }
  .fs128tb {
    font-size: 12.8rem; }
  .fs129tb {
    font-size: 12.9rem; }
  .fs130tb {
    font-size: 13rem; }
  .fs131tb {
    font-size: 13.1rem; }
  .fs132tb {
    font-size: 13.2rem; }
  .fs133tb {
    font-size: 13.3rem; }
  .fs134tb {
    font-size: 13.4rem; }
  .fs135tb {
    font-size: 13.5rem; }
  .fs136tb {
    font-size: 13.6rem; }
  .fs137tb {
    font-size: 13.7rem; }
  .fs138tb {
    font-size: 13.8rem; }
  .fs139tb {
    font-size: 13.9rem; }
  .fs140tb {
    font-size: 14rem; }
  .fs141tb {
    font-size: 14.1rem; }
  .fs142tb {
    font-size: 14.2rem; }
  .fs143tb {
    font-size: 14.3rem; }
  .fs144tb {
    font-size: 14.4rem; }
  .fs145tb {
    font-size: 14.5rem; }
  .fs146tb {
    font-size: 14.6rem; }
  .fs147tb {
    font-size: 14.7rem; }
  .fs148tb {
    font-size: 14.8rem; }
  .fs149tb {
    font-size: 14.9rem; }
  .fs150tb {
    font-size: 15rem; } }

@media screen and (max-width: 600px) {
  .fs8sp {
    font-size: 0.8rem; }
  .fs9sp {
    font-size: 0.9rem; }
  .fs10sp {
    font-size: 1rem; }
  .fs11sp {
    font-size: 1.1rem; }
  .fs12sp {
    font-size: 1.2rem; }
  .fs13sp {
    font-size: 1.3rem; }
  .fs14sp {
    font-size: 1.4rem; }
  .fs15sp {
    font-size: 1.5rem; }
  .fs16sp {
    font-size: 1.6rem; }
  .fs17sp {
    font-size: 1.7rem; }
  .fs18sp {
    font-size: 1.8rem; }
  .fs19sp {
    font-size: 1.9rem; }
  .fs20sp {
    font-size: 2rem; }
  .fs21sp {
    font-size: 2.1rem; }
  .fs22sp {
    font-size: 2.2rem; }
  .fs23sp {
    font-size: 2.3rem; }
  .fs24sp {
    font-size: 2.4rem; }
  .fs25sp {
    font-size: 2.5rem; }
  .fs26sp {
    font-size: 2.6rem; }
  .fs27sp {
    font-size: 2.7rem; }
  .fs28sp {
    font-size: 2.8rem; }
  .fs29sp {
    font-size: 2.9rem; }
  .fs30sp {
    font-size: 3rem; }
  .fs31sp {
    font-size: 3.1rem; }
  .fs32sp {
    font-size: 3.2rem; }
  .fs33sp {
    font-size: 3.3rem; }
  .fs34sp {
    font-size: 3.4rem; }
  .fs35sp {
    font-size: 3.5rem; }
  .fs36sp {
    font-size: 3.6rem; }
  .fs37sp {
    font-size: 3.7rem; }
  .fs38sp {
    font-size: 3.8rem; }
  .fs39sp {
    font-size: 3.9rem; }
  .fs40sp {
    font-size: 4rem; }
  .fs41sp {
    font-size: 4.1rem; }
  .fs42sp {
    font-size: 4.2rem; }
  .fs43sp {
    font-size: 4.3rem; }
  .fs44sp {
    font-size: 4.4rem; }
  .fs45sp {
    font-size: 4.5rem; }
  .fs46sp {
    font-size: 4.6rem; }
  .fs47sp {
    font-size: 4.7rem; }
  .fs48sp {
    font-size: 4.8rem; }
  .fs49sp {
    font-size: 4.9rem; }
  .fs50sp {
    font-size: 5rem; }
  .fs51sp {
    font-size: 5.1rem; }
  .fs52sp {
    font-size: 5.2rem; }
  .fs53sp {
    font-size: 5.3rem; }
  .fs54sp {
    font-size: 5.4rem; }
  .fs55sp {
    font-size: 5.5rem; }
  .fs56sp {
    font-size: 5.6rem; }
  .fs57sp {
    font-size: 5.7rem; }
  .fs58sp {
    font-size: 5.8rem; }
  .fs59sp {
    font-size: 5.9rem; }
  .fs60sp {
    font-size: 6rem; }
  .fs61sp {
    font-size: 6.1rem; }
  .fs62sp {
    font-size: 6.2rem; }
  .fs63sp {
    font-size: 6.3rem; }
  .fs64sp {
    font-size: 6.4rem; }
  .fs65sp {
    font-size: 6.5rem; }
  .fs66sp {
    font-size: 6.6rem; }
  .fs67sp {
    font-size: 6.7rem; }
  .fs68sp {
    font-size: 6.8rem; }
  .fs69sp {
    font-size: 6.9rem; }
  .fs70sp {
    font-size: 7rem; }
  .fs71sp {
    font-size: 7.1rem; }
  .fs72sp {
    font-size: 7.2rem; }
  .fs73sp {
    font-size: 7.3rem; }
  .fs74sp {
    font-size: 7.4rem; }
  .fs75sp {
    font-size: 7.5rem; }
  .fs76sp {
    font-size: 7.6rem; }
  .fs77sp {
    font-size: 7.7rem; }
  .fs78sp {
    font-size: 7.8rem; }
  .fs79sp {
    font-size: 7.9rem; }
  .fs80sp {
    font-size: 8rem; }
  .fs81sp {
    font-size: 8.1rem; }
  .fs82sp {
    font-size: 8.2rem; }
  .fs83sp {
    font-size: 8.3rem; }
  .fs84sp {
    font-size: 8.4rem; }
  .fs85sp {
    font-size: 8.5rem; }
  .fs86sp {
    font-size: 8.6rem; }
  .fs87sp {
    font-size: 8.7rem; }
  .fs88sp {
    font-size: 8.8rem; }
  .fs89sp {
    font-size: 8.9rem; }
  .fs90sp {
    font-size: 9rem; }
  .fs91sp {
    font-size: 9.1rem; }
  .fs92sp {
    font-size: 9.2rem; }
  .fs93sp {
    font-size: 9.3rem; }
  .fs94sp {
    font-size: 9.4rem; }
  .fs95sp {
    font-size: 9.5rem; }
  .fs96sp {
    font-size: 9.6rem; }
  .fs97sp {
    font-size: 9.7rem; }
  .fs98sp {
    font-size: 9.8rem; }
  .fs99sp {
    font-size: 9.9rem; }
  .fs100sp {
    font-size: 10rem; }
  .fs101sp {
    font-size: 10.1rem; }
  .fs102sp {
    font-size: 10.2rem; }
  .fs103sp {
    font-size: 10.3rem; }
  .fs104sp {
    font-size: 10.4rem; }
  .fs105sp {
    font-size: 10.5rem; }
  .fs106sp {
    font-size: 10.6rem; }
  .fs107sp {
    font-size: 10.7rem; }
  .fs108sp {
    font-size: 10.8rem; }
  .fs109sp {
    font-size: 10.9rem; }
  .fs110sp {
    font-size: 11rem; }
  .fs111sp {
    font-size: 11.1rem; }
  .fs112sp {
    font-size: 11.2rem; }
  .fs113sp {
    font-size: 11.3rem; }
  .fs114sp {
    font-size: 11.4rem; }
  .fs115sp {
    font-size: 11.5rem; }
  .fs116sp {
    font-size: 11.6rem; }
  .fs117sp {
    font-size: 11.7rem; }
  .fs118sp {
    font-size: 11.8rem; }
  .fs119sp {
    font-size: 11.9rem; }
  .fs120sp {
    font-size: 12rem; }
  .fs121sp {
    font-size: 12.1rem; }
  .fs122sp {
    font-size: 12.2rem; }
  .fs123sp {
    font-size: 12.3rem; }
  .fs124sp {
    font-size: 12.4rem; }
  .fs125sp {
    font-size: 12.5rem; }
  .fs126sp {
    font-size: 12.6rem; }
  .fs127sp {
    font-size: 12.7rem; }
  .fs128sp {
    font-size: 12.8rem; }
  .fs129sp {
    font-size: 12.9rem; }
  .fs130sp {
    font-size: 13rem; }
  .fs131sp {
    font-size: 13.1rem; }
  .fs132sp {
    font-size: 13.2rem; }
  .fs133sp {
    font-size: 13.3rem; }
  .fs134sp {
    font-size: 13.4rem; }
  .fs135sp {
    font-size: 13.5rem; }
  .fs136sp {
    font-size: 13.6rem; }
  .fs137sp {
    font-size: 13.7rem; }
  .fs138sp {
    font-size: 13.8rem; }
  .fs139sp {
    font-size: 13.9rem; }
  .fs140sp {
    font-size: 14rem; }
  .fs141sp {
    font-size: 14.1rem; }
  .fs142sp {
    font-size: 14.2rem; }
  .fs143sp {
    font-size: 14.3rem; }
  .fs144sp {
    font-size: 14.4rem; }
  .fs145sp {
    font-size: 14.5rem; }
  .fs146sp {
    font-size: 14.6rem; }
  .fs147sp {
    font-size: 14.7rem; }
  .fs148sp {
    font-size: 14.8rem; }
  .fs149sp {
    font-size: 14.9rem; }
  .fs150sp {
    font-size: 15rem; } }

/* -----------------------------------rem */
/* ---------------------------------------------font-size */
