@charset "UTF-8";
.sefif {
  font-family: 游明朝体,游明朝,Yu Mincho,YuMincho,serif; }

.txt_tc_deep {
  color: #eb6100; }

a.disabled {
  pointer-events: none;
  opacity: 0.5; }

@media screen and (max-width: 600px) {
  .section_ttl_sub {
    line-height: 1; } }

.advisor_card {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative; }

.advisor_card01 {
  background-image: url("../img/adv01.png"); }

.advisor_card02 {
  background-image: url("../img/adv02.png"); }

.advisor_card03 {
  background-image: url("../img/adv03.png"); }

.advisor_card04 {
  background-image: url("../img/adv04.png"); }

.advisor_card05 {
  background-image: url("../img/adv05.png"); }

.card_male {
  background-color: #66A0FF; }
  .card_male .advisor_card_more_btn {
    background-color: #4089ff; }

.card_female {
  background-color: #faf2d7; }
  .card_female .advisor_card_more_btn {
    background-color: #fabe00; }

.advisor_card_message {
  font-size: 1.4vw;
  margin: 0 0 10px;
  color: #000;
  text-shadow: white 2px 0px, white -2px 0px, white 0px -2px, white 0px 2px, white 2px 2px, white -2px 2px, white 2px -2px, white -2px -2px, white 1px 2px, white -1px 2px, white 1px -2px, white -1px -2px, white 2px 1px, white -2px 1px, white 2px -1px, white -2px -1px; }

.advisor_card_contents {
  width: 87%;
  position: absolute;
  bottom: 3%;
  right: 0;
  left: 0;
  margin: auto; }

.advisor_card_inner {
  background: white;
  padding: 15px;
  border-radius: 15px; }

.advisor_card_name {
  font-size: 2.5rem; }

.advisor_card_name_en {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0 0 5px;
  color: #888; }

.advisor_card_tag {
  padding: 4px 12px 6px;
  background-color: #222;
  color: #fff; }

.advisor_card_more_btn {
  display: block;
  border-radius: 10000px;
  width: 100%;
  color: #fff;
  padding: 15px 0 15px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }
  .advisor_card_more_btn .fa-user-circle {
    float: left;
    margin-left: 15px; }

.advisor_card_taglist li {
  display: inline-block;
  margin: 0 7px 7px 0; }
  .advisor_card_taglist li a {
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block;
    background-color: #f7f7f7;
    padding: 4px 7px 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    pointer-events: none; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .advisor_card_message {
    font-size: 2rem; } }

@media screen and (max-width: 600px) {
  .advisor_card_inner {
    padding: 8px 12px 12px; }
  .advisor_card_more_btn {
    padding: 10px 0 10px; }
  .advisor_card_taglist li {
    margin: 0 5px 5px 0; }
    .advisor_card_taglist li a {
      font-size: 1.05rem;
      padding: 3px 6px 4px; }
  .advisor_card_name {
    font-size: 2.3rem;
    display: block; }
  .advisor_card_contents {
    width: 94%;
    bottom: 1.5%; }
  .advisor_card_message {
    margin: 0 0 5px;
    font-size: 2rem; } }

.header_inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav_overlay {
  width: 100%; }

.signup_header_li a, .login_header_li a {
  font-weight: 700; }

.signup_header_li a {
  color: #f08300; }

.login_header_li a {
  background-color: #f08300;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  display: block; }

.nav_li_menu {
  display: none; }

.fixed .nav_li_menu {
  display: block; }

.signup_header_li_wrap {
  margin: 0 0 0 2%; }

@media screen and (max-width: 600px) {
  .nav_overlay ul li {
    height: 15%; } }

#banner {
  padding-top: 80px; }

.maincopy {
  text-align: center; }
  .maincopy img {
    width: 100%; }

.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px; }

.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  /*下に動く*/
  border-bottom: none;
  /*線を消す*/ }

.fb_login {
  background-color: #1DA1F2;
  color: #fff;
  padding: 20px 40px 20px;
  border-radius: 7px; }

.login_hero {
  background-color: #f08300;
  color: #fff;
  border-radius: 5px;
  padding: 30px 60px 30px;
  display: block;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

.for_worker {
  text-decoration: underline;
  text-align: center; }

.banner_txt_wrap {
  width: 24%;
  margin-left: 4%; }

.banner_slider_wrap {
  width: 68%;
  margin: 0 2% 0 2%;
  height: 700px; }
  .banner_slider_wrap .swiper-container {
    height: 100%; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  #banner {
    padding: 60px 15px 20px; }
  .login_hero {
    padding: 23px 0px 23px; }
  .banner_txt_wrap {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px; }
  .banner_slider_wrap {
    width: 100%;
    margin: 0 15px 0 2%;
    height: 620px; } }

@media screen and (max-width: 600px) {
  #banner {
    padding: 60px 15px 20px; }
  .login_hero {
    padding: 23px 0px 23px; }
  .banner_txt_wrap {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px; }
  .banner_slider_wrap {
    width: 100%;
    margin: 0 15px 0 2%;
    height: 530px; } }

.about_box {
  width: 26%;
  margin-right: 11%; }
  .about_box:nth-of-type(3n) {
    margin-right: 0; }
  .about_box img {
    border-radius: 10000px;
    border: 4px solid #f08300; }

.about_row {
  padding: 40px 4% 30px;
  background-color: #fafafa;
  border-radius: 15px; }

.ca_definition_wrap {
  background-color: #eb6100;
  background-image: url("../img/ca_definition_bg.svg");
  background-position: center; }

@media screen and (max-width: 600px) {
  .about_box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px; }
    .about_box:nth-of-type(3n) {
      margin-bottom: 0;
      border-bottom: none;
      padding: 0; }
  .about_row {
    padding: 25px 8% 30px; }
  .ca_definition_wrap {
    background-image: url("../img/ca_definition_bg_sp.svg");
    background-size: 90%; } }

.advisor_box {
  min-height: 520px;
  margin-top: 30px; }

.advisor_row {
  min-height: 700px; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .advisor_box {
    min-height: 620px;
    width: 47.5%;
    margin-right: 2.5%;
    margin-bottom:30px;
  }
    .advisor_box:nth-of-type(2n) {
      margin-right: 0; } }

@media screen and (max-width: 600px) {
  .advisor_row {
    margin-top: 30px;
    min-height: 530px; }
  .advisor_box {
    margin-top: 0; } }

.faq_row {
  padding: 10px 40px 25px;
  border-radius: 15px; }

.faq_content {
  width: 100%; }

.a_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.a_icon + .faq_txt {
  width: calc(100% - 12px); }

.faq_more_btn_wrap {
  border-bottom: none; }

.faq_more_btn {
  padding: 20px 40px 20px;
  background-color: #999;
  color: #fff;
  border-radius: 7px;
  margin: 20px auto 20px; }

.faq_more_btn_active {
  position: absolute;
  bottom: 0;
  margin: auto;
  right: 0;
  left: 0; }

@media screen and (max-width: 600px) {
  .faq_row {
    padding: 5px 20px 5px;
    border-radius: 15px; } }

#flow .flow_row {
  background-color: #fafafa;
  padding: 40px;
  border-radius: 10000px; }

#flow .flow_icon_wrap img {
  width: 50%; }

#flow .flow_box {
  width: 20%; }

#flow .fa-arrow-right {
  width: 6.666%; }

@media screen and (max-width: 600px) {
  #flow .contents {
    width: 1200px; }
  #flow .flow_inner {
    padding: 0 0 0 15px; }
  #flow .flow_row_wrap {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
  #flow .flow_box {
    width: 17%;
    margin-right: 10px; }
  #flow .fa-arrow-right {
    width: 3%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; } }

#lp_signup {
  background-color: #333;
  padding: 30px 0 30px; }
  #lp_signup .signup_line_btn {
    background: #eb6100;
    display: block;
    width: 100%;
    padding: 30px 0 30px;
    text-align: center;
    color: #fff;
    border-radius: 15px; }

@media screen and (min-width: 600px) and (max-width: 1080px) {
  .footer_brand {
    margin: 0 auto 30px; } }

@media screen and (max-width: 600px) {
  footer ul li {
    width: 100%;
    text-align: center;
    padding-right: 0;
    margin: 10px 0 10px; }
  .footer_brand {
    margin: 15px auto 15px; } }
